html, body {
  font: 10pt arial;
  background-color: #222222;
}
#main_network {
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 40px; /* Footer Height */
  left: 0px;
  width: 100%;
  background-color: #222222;
  z-index: 1;
}

#foo_canvas{
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
  background-color: #222222;
  z-index: 2;
}
.bottom {
  position: absolute;
  background-color: #222222;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.option_button {
  width: 230px;
}
.text{
  color: white;
}
