html, body {
  font: 10pt arial;
  background-color: #222222;
}
#main_network {
  position: absolute;
  top: 40px; /* Header Height */
  bottom: 40px; /* Footer Height */
  left: 310px;
  width: 100%;
  background-color: #222222;
}
.bottom {
  position: absolute;
  background-color: #222222;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.option_button {
  width: 230px;
}
.text{
  color: white;
}
